.container {
  display: flex;
  flex: auto;
  align-items: center;
  min-height: calc(100vh - 4.5rem);
  background-color: hsl(var(--accent));
  padding: 3rem 1rem;
}

.container__card {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  border-radius: var(--radius);
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 640px) {
  .container__card {
    max-width: 42rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 3rem;
  }
}

.card__header {
  padding: 1.5rem;
  padding-bottom: 1.25rem;
}

.header__back {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
  color: hsl(var(--primary));
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.back__icon {
  width: 1rem;
  height: 1rem;
}

.header__group {
  display: flex;
  flex-direction: column;
  gap: 0.675rem;
}

.header__title {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
}

.header__tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.header__information {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem; /* 14px */
  line-height: normal;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}

.card__content {
  border-top: 1px solid hsl(var(--border));
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content__title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
}

.content__text {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  color: hsl(var(--muted-foreground));
}

.cv {
  aspect-ratio: 30 / 21;
  width: 100%;
  max-width: 420px;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  align-self: center;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 512px;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  align-self: center;
}

.card__status-reason {
  border-top: 1px solid hsl(var(--border));
  padding: 1.5rem;
  padding-top: 1.25rem;
}

.application-verdict__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hidden-status-reason-quill-editor {
  display: none;
}

@media (min-width: 768px) {
}
